In [1]:
#LIST

lst=[20,30,40,50,60]
lst.append(70)
lst

[20, 30, 40, 50, 60, 70]

In [2]:
lst[0]

20

In [3]:
lst[-2]

60

In [4]:
lst.append('alekhya')
lst

[20, 30, 40, 50, 60, 70, 'alekhya']

In [7]:
lst.remove('alekhya')
lst

[20, 30, 40, 50, 60, 70]

In [8]:
lst.append(40)
lst

[20, 30, 40, 50, 60, 70, 40]

In [11]:
lst.count(40)

2

In [12]:
lst.reverse()
lst

[40, 70, 60, 50, 40, 30, 20]

In [13]:
lst.remove(40)
lst

[70, 60, 50, 40, 30, 20]

In [14]:
lst.sort()
lst

[20, 30, 40, 50, 60, 70]

In [16]:
lst.pop()
lst

[20, 30, 40, 50, 60]

In [17]:
lst2=[70,'challa']
lst.extend(lst2)
lst

[20, 30, 40, 50, 60, 70, 'challa']

In [18]:
lst.index(60)

4

In [19]:
lst.insert(6,80)
lst

[20, 30, 40, 50, 60, 70, 80, 'challa']

In [22]:
# DICT

dit={'name':'Alekhya','age':'21','number':'1234','email':'ale@gmail.com'}
dit.get('name')

'Alekhya'

In [24]:
dit['college']='vec'
dit

{'name': 'Alekhya',
 'age': '21',
 'number': '1234',
 'email': 'ale@gmail.com',
 'college': 'vec'}

In [25]:
# creating dictionary with dict() method
dict=dict([(1,'ale'),(2,'alu')])
dict

{1: 'ale', 2: 'alu'}

In [27]:
dict.clear()
dict

{}

In [28]:
dit.copy()
dit

{'name': 'Alekhya',
 'age': '21',
 'number': '1234',
 'email': 'ale@gmail.com',
 'college': 'vec'}

In [29]:
dit.update({'age':'18'})
dit

{'name': 'Alekhya',
 'age': '18',
 'number': '1234',
 'email': 'ale@gmail.com',
 'college': 'vec'}

In [30]:
dit.items()
dit

{'name': 'Alekhya',
 'age': '18',
 'number': '1234',
 'email': 'ale@gmail.com',
 'college': 'vec'}

In [31]:
len(dit)

5

In [32]:
dit.keys()
dit

{'name': 'Alekhya',
 'age': '18',
 'number': '1234',
 'email': 'ale@gmail.com',
 'college': 'vec'}

In [33]:
dit.popitem()
dit

{'name': 'Alekhya', 'age': '18', 'number': '1234', 'email': 'ale@gmail.com'}

In [34]:
#  SETS
st={'ale','vec',1,2,3,4,5}
st

{1, 2, 3, 4, 5, 'ale', 'vec'}

In [39]:
st.add(5)
st

{1, 2, 3, 4, 5, '5', 'ale', 'vec'}

In [40]:
st.remove(5)
st

{1, 2, 3, 4, '5', 'ale', 'vec'}

In [41]:
st1={'ale',1}
st1.issubset(st)

True

In [42]:
st.copy()
st

{1, 2, 3, 4, '5', 'ale', 'vec'}

In [45]:
st.discard('5')
st

{1, 2, 3, 4, 'ale', 'vec'}

In [46]:
st1={'ale',1}
st1.isdisjoint(st)

False

In [62]:
len(st)

1

In [64]:
st.clear()
st

set()

In [65]:
st3=st.union(st1)
st3

{1, 'ale'}

In [67]:
st3.update([1,2,3])
st3

{1, 2, 3, 'ale'}

In [68]:
#  TUPLE

tup=('apple','guava','cherry','orange')
tup

('apple', 'guava', 'cherry', 'orange')

In [69]:
tup[1]

'guava'

In [70]:
tup[-2]

'cherry'

In [71]:
tup[1:3]   #slicing

('guava', 'cherry')

In [73]:
tup[-3:-1]

('guava', 'cherry')

In [75]:
len(tup)

4

In [76]:
tup1=(1,2,3,4)
tup1

(1, 2, 3, 4)

In [77]:
tup2=tup+tup1
tup2

('apple', 'guava', 'cherry', 'orange', 1, 2, 3, 4)

In [78]:
tup2[:]

('apple', 'guava', 'cherry', 'orange', 1, 2, 3, 4)

In [83]:
tup3=('a','b','c','d','a','e')
tup3.count('a')

2

In [97]:
# STRING

str='citizen'
str

'citizen'

In [98]:
str[0]

'c'

In [99]:
str[-1]

'n'

In [100]:
str[1:5]

'itiz'

In [96]:
str.capitalize()

'Citizen'

In [101]:
str1='ship'
str1

'ship'

In [102]:
str2=str+str1
str2

'citizenship'

In [105]:

str is str1

False

In [114]:
str2.isalnum()

True

In [115]:
str2.isalpha()

True

In [116]:
str2.isdigit()

False

In [117]:
len(str2)

11

In [118]:
str2.lower()

'citizenship'

In [119]:
max(str2)

'z'

In [121]:
min(str2)

'c'